#capture{
    height: fit-content;
}

.capture{
    text-align: center;
}

#capturedImages{
    height: 330px;
    display:flex;
    flex-direction: row;
    overflow-x: scroll;
    white-space: nowrap;
    background-color: gray;
}

.image{
    display: inline-block;
}

#player{
    height:fit-content
}

body{
    background-color: rgb(181, 222, 235);
}